@font-face {
    src: url('/node_modules/react-native-vector-icons/Fonts/Ionicons.ttf');
    font-family: "Ionicons";
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/FontAwesome.ttf');
    font-family: "FontAwesome";
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/FontAwesome5_Brands.ttf');
    font-family: "FontAwesome5_Brands";
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/FontAwesome5_Regular.ttf');
    font-family: "FontAwesome5_Regular";
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/FontAwesome5_Solid.ttf');
    font-family: "FontAwesome5_Solid";
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/MaterialIcons.ttf');
    font-family: "MaterialIcons";
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/Feather.ttf');
    font-family: "Feather";
  }
  
  @font-face {
    src: url('/node_modules/react-native-vector-icons/MaterialCommunityIcons.ttf');
    font-family: "MaterialCommunityIcons";
  }
  